* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

html {
  font-size: 62.5%; }
  html body {
    font-family: 'Mate SC', serif; }
    html body header {
      background: #202430;
      color: white; }
    html body main {
      background: linear-gradient(to bottom, #202430, #b4a5a5);
      color: white; }
    html body section {
      background: linear-gradient(to bottom, #202430, #b4a5a5);
      color: white; }
    html body footer {
      background: #202430;
      color: white; }

a {
  text-decoration: none; }

h4 {
  color: blueviolet;
  text-decoration: solid; }

button:hover {
  cursor: pointer; }

fieldset {
  color: #8458b3;
  padding: 1vh; }
  fieldset li {
    list-style-type: none; }

/* clases bootstrap */
#menu a {
  font-weight: 500;
  font-size: 1.25rem;
  font-weight: bold;
  color: white; }

.header__logo {
  height: 15vh; }

.margin__logo {
  margin-left: 5rem;
  margin-bottom: 2rem;
  margin-top: 2rem; }

.dropdown-menu {
  background-color: #474747; }
  .dropdown-menu li a:hover {
    background-color: #212529; }

.card-title, .card-text {
  color: black; }

.foto__logo {
  height: 10vh; }

.foto__center {
  display: flex;
  flex-direction: column;
  align-items: center; }

.titulo__forms, .div__banner, .redes__footer {
  display: flex;
  align-items: center;
  flex-direction: column; }

.li__footer {
  display: flex;
  list-style: none;
  gap: 1vh; }

.gap__footer {
  display: flex;
  flex-direction: column;
  gap: 1.75vw; }

.redes__footer {
  color: #8458b3;
  margin-top: 1vw; }

.titulo_nos {
  font-size: 500%;
  display: flex;
  align-items: center;
  justify-content: space-around; }

.text_nos {
  font-size: 150%; }

.texto__nosotros {
  display: flex;
  flex-direction: column;
  font-size: 150%;
  justify-content: center; }

.card {
  padding: 1vh; }

.col__pad {
  padding: 2vh; }

.col {
  margin-bottom: 5vh;
  margin-top: 5vh; }
  .col .titulo {
    flex-direction: column;
    display: flex;
    align-items: center; }

.card {
  margin: 18px;
  background-color: #202430; }
  .card p, .card h5 {
    color: white; }
